<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="wave">
    <parameter name="url" value="http://fits.qauber.com/#/page/login"/>
    <parameter name="browser" value="chrome"/>
    <test name = "test">
        <!--<groups>-->
            <!--<run>-->
                <!--<include name="base"/>-->
                <!--<include name = "editProfile" />-->
            <!--</run>-->
        <!--</groups>-->
        <classes>
            <class name="Tests.TestAddReport"/>
        </classes>
    </test>
</suite>