<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="wave">
    <parameter name="url" value="http://fits.qauber.com/#/page/login"/>
    <parameter name="browser" value="firefox"/>
    <test name = "test">
        <classes>
            <class name="Tests.TestUploadImage"/>
        </classes>
    </test>
</suite>